
button.word-item_button {
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px;
    padding: 0;
}
button.button_change {
    background-color: #ffd24d;
}
button.button_change:hover {
    background-color: #b38600;
}
button.button_cancel {
    background-color: #33adff;
}
button.button_cancel:hover {
    background-color: #006bb3;
}