tbody > tr:nth-child(odd) {
    background-color: white;
}
tbody > tr:nth-child(even) {
    background-color: #99ffbb;
}
thead {
    background-color: #00b33c;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
}
button.word-item_button {
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px;
    padding: 0;
}
button.button_change {
    background-color: #ffd24d;
}
button.button_change:hover {
    background-color: #b38600;
}
button.button_cancel {
    background-color: #33adff;
}
button.button_cancel:hover {
    background-color: #006bb3;
}
table {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
}
